* {
  padding: 0px;
  margin: 0px;
  border: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: auto;
}

.title {
  text-align: center;
  font-size: 28px;
  line-height: 36px;
  color: #757575;
  margin-bottom: 45px;
}

.btn {
  height: 36px;
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding-top: 9px;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  user-select: none;
}

.gong-button:hover,
.space-button:hover {
  background-color: #fff;
  color: darkblue;
}

.top {
  height: 720px;
  background: url("/portfolio/meditation_products/img/header_bg.png") center
    no-repeat;
  margin-bottom: 45px;
}

header {
  position: relative;
  padding-top: 35px;
  display: flex;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
  margin-left: 35px;
  user-select: none;
}

.header-menu {
  /* display: inline-block; */
  display: flex;
  align-items: center;
  position: absolute;
  right: 35px;
}

.header-menu__link {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #e9e9e9;
  margin-left: 40px;
  cursor: pointer;
}

.header-menu__link:hover {
  text-decoration: underline;
}

.header-menu__circle {
  width: 24px;
  height: 24px;
  border: 1px solid #fbfbfb;
  border-radius: 100%;
  display: inline-block;
  margin-left: 20px;
}

.cushions {
  margin-bottom: 25px;
}

.cushions-cards,
.writings-cards {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  text-align: center;
}

.cushions-cards__card,
.writings-cards__card {
  margin: 0 18px;
}

.cushions-cards__img,
.writings-cards__img {
  height: 504px;
  width: 386px;
  margin-bottom: 25px;
}

.cushions-cards__button,
.writings-cards__button {
  font-size: 14px;
  color: #757575;
  text-align: center;
  border: 1px solid #757575;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.gong {
  height: 777px;
  background: url("/portfolio/meditation_products/img/gong.png") center
    no-repeat;
  color: #ffffff;
  margin-bottom: 75px;
}

.gong-title {
  padding-top: 56px;
  font-size: 26px;
  text-align: center;
  margin-bottom: 21px;
}

.gong-subtitle {
  font-size: 14px;
  text-align: center;
  margin-bottom: 580px;
}

.gong-button {
  width: 105px;
}

.reviews-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  padding: 0 50px;
  gap: 50px;
  margin-bottom: 75px;
}

.reviews-card {
  display: grid;
  text-align: center;
}

.reviews-card__img {
  margin-bottom: 10px;
}

.reviews-card__text {
  font-size: 12px;
  color: #848484;
}

.space {
  height: 800px;
  background: url("/portfolio/meditation_products/img/space.png") center
    no-repeat;
  text-align: center;
  font-size: 16px;
  color: #ffffff;
}
.space-description {
  padding-top: 188px;
}

.space-button {
  margin-top: 520px;
  width: 206px;
}

.writings-title {
  margin-top: 70px;
  text-align: center;
  margin-bottom: 35px;
  font-size: 24px;
  color: #8c8c8c;
}

.subscribe-form {
  padding-top: 90px;
  height: 320px;
  color: #9b9b9b;
  text-align: center;
}

.subscribe-form__label {
  display: block;
  font-size: 14px;
  margin-bottom: 15px;
}

.subscribe-form__input {
  display: block;
  width: 277px;
  height: 27px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #9b9b9b;
  border-radius: 20px;
  margin-bottom: 15px;
}

.subscribe-form__input::placeholder {
  color: #9b9b9b;
}

.subscribe-form__button {
  width: 150px;
  font-size: 16px;
  padding-top: 4px;
  background-color: #fff;
  border: 1px solid #9b9b9b;
  color: #848484;
}

.cushions-cards__button:hover,
.writings-cards__button:hover,
.subscribe-form__button:hover {
  background-color: #848484a4;
  border-color: #848484a4;
  color: #fff;
}

.about {
  display: flex;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 14px;
  color: #8c8c8c;
  margin-bottom: 15px;
}

.shipping {
  height: 60px;
  padding-top: 24px;
  background: #ededed;
  font-size: 14px;
  text-align: center;
  color: #3c3c3c;
}

.cushions-nav {
  text-align: center;
}

.prev,
.next {
  width: 100px;
  margin: 0 10px;
  display: inline-block;
  padding: 8px 10px 0;
}

.hide {
  display: none;
}
